{% extends 'base.html' %}

{% block header %}
    super()
    {% block title %}Home{% endblock %}
{% endblock %}

{% block content %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
              <th scope="col">Type</th>
              <th scope="col">Count</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Text</td>
                <td>{{ count }}</td>
            </tr>
        </tbody>
    </table>


    <form method="post" action="/postmessage">
        <textarea name="message"
                  placeholder="Message content"
                  rows="6"
                  cols="60"
                  required 
                  >{{ request.form['message'] }}</textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}
