{% extends 'base.html' %}

{% block header %}
    super()
    {% block title %}Home{% endblock %}
{% endblock %}
{% block content %}

    <table class="table">
        <thead class="thead-dark">
            <tr>
              <th scope="col">Text</th>
              <th scope="col">Result</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
            <tr>
                <td>{{ entry['text'] }}</td>
                <td>{{ entry['result'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <form method="post" action="/postmessage">
        <textarea name="message"
                  placeholder="Message content"
                  rows="6"
                  cols="60"
                  required 
                  >{{ request.form['message'] }}</textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}
